src/main/resources/com/jeecourse/account/ws/v1/accountService-v1.0.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns="http://www.w3.org/2001/XMLSchema"  
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:tns="http://www.jeecourse.com/account/v1" 
  targetNamespace="http://www.jeecourse.com/account/v1">

  <wsdl:types>
    <schema>
      <import namespace="http://www.jeecourse.com/account/v1" schemaLocation="accountSchema-v1.0.xsd" />
    </schema>
  </wsdl:types>

  <wsdl:message name="createAccountRequest">
    <wsdl:part name="createAccountRequest" element="tns:createAccountRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createAccountResponse">
    <wsdl:part name="createAccountResponse" element="tns:createAccountResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAccountRequest">
    <wsdl:part name="getAccountRequest" element="tns:getAccountRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAccountResponse">
    <wsdl:part name="getAccountResponse" element="tns:getAccountResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAccountsRequest">
    <wsdl:part name="getAccountsRequest" element="tns:getAccountsRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAccountsResponse">
    <wsdl:part name="getAccountsResponse" element="tns:getAccountsResponse">
    </wsdl:part>
  </wsdl:message>  
  <wsdl:message name="updateAccountRequest">
    <wsdl:part name="updateAccountRequest" element="tns:updateAccountRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateAccountResponse">
    <wsdl:part name="updateAccountResponse" element="tns:updateAccountResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteAccountRequest">
    <wsdl:part name="deleteAccountRequest" element="tns:deleteAccountRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteAccountResponse">
    <wsdl:part name="deleteAccountResponse" element="tns:deleteAccountResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="wsException">
    <wsdl:part name="wsException" element="tns:wsException">
    </wsdl:part>
  </wsdl:message>

  <wsdl:portType name="accountManagementApi">
    <wsdl:operation name="createAccount">
      <wsdl:input name="createAccountRequest" message="tns:createAccountRequest">
      </wsdl:input>
      <wsdl:output name="createAccountResponse" message="tns:createAccountResponse">
      </wsdl:output>
      <wsdl:fault name="wsException" message="tns:wsException" />
    </wsdl:operation>

    <wsdl:operation name="getAccount">
      <wsdl:input name="getAccountRequest" message="tns:getAccountRequest">
      </wsdl:input>
      <wsdl:output name="getAccountResponse" message="tns:getAccountResponse">
      </wsdl:output>
      <wsdl:fault name="wsException" message="tns:wsException" />
    </wsdl:operation>

    <wsdl:operation name="getAccounts">
      <wsdl:input name="getAccountsRequest" message="tns:getAccountsRequest">
      </wsdl:input>
      <wsdl:output name="getAccountsResponse" message="tns:getAccountsResponse">
      </wsdl:output>
      <wsdl:fault name="wsException" message="tns:wsException" />
    </wsdl:operation>
	
    <wsdl:operation name="updateAccount">
      <wsdl:input name="updateAccountRequest" message="tns:updateAccountRequest">
      </wsdl:input>
      <wsdl:output name="updateAccountResponse" message="tns:updateAccountResponse">
      </wsdl:output>
      <wsdl:fault name="wsException" message="tns:wsException" />
    </wsdl:operation>

    <wsdl:operation name="deleteAccount">
      <wsdl:input name="deleteAccountRequest" message="tns:deleteAccountRequest">
      </wsdl:input>
      <wsdl:output name="deleteAccountResponse" message="tns:deleteAccountResponse">
      </wsdl:output>
      <wsdl:fault name="wsException" message="tns:wsException" />
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="accountManagementApiSoap11" type="tns:accountManagementApi">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="createAccount">
      <soap:operation soapAction="" />
      <wsdl:input name="createAccountRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="createAccountResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="wsException">
        <soap:fault name="wsException" use="literal" />
      </wsdl:fault>
    </wsdl:operation>

    <wsdl:operation name="getAccount">
      <soap:operation soapAction="" />
      <wsdl:input name="getAccountRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getAccountResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="wsException">
        <soap:fault name="wsException" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
	
    <wsdl:operation name="getAccounts">
      <soap:operation soapAction="" />
      <wsdl:input name="getAccountsRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getAccountsResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="wsException">
        <soap:fault name="wsException" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
	
    <wsdl:operation name="updateAccount">
      <soap:operation soapAction="" />
      <wsdl:input name="updateAccountRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="updateAccountResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="wsException">
        <soap:fault name="wsException" use="literal" />
      </wsdl:fault>
    </wsdl:operation>

    <wsdl:operation name="deleteAccount">
      <soap:operation soapAction="" />
      <wsdl:input name="deleteAccountRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="deleteAccountResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="wsException">
        <soap:fault name="wsException" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="accountManagementService">
    <wsdl:port name="accountManagementApiSoap11" binding="tns:accountManagementApiSoap11" >
      <soap:address location="http://localhost:8080/account-manager/ws/v1" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>